<html>
    <head>
        <title>Edventures</title>
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    
    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-on:click='showCheckout'>
                    {{ cartItemCount }}
                    <span class="fas fa-cart-plus"></span> Checkout
                </button>
            </header>

            <main>
                <div v-if="showProduct">
                    <figure>
                        <img v-bind:src="lesson.image">
                    </figure>
                    <h2 v-text="lesson.subject"></h2>
                    <p v-text="lesson.location"></p>
                    <p>Price: {{lesson.price}}</p>
                    <!-- Show available inventory here -->
                    <p>Spaces: {{lesson.space}}</p>
                    <!-- Hide the "Add to cart" button when addedToCart is true -->
                    <button v-on:click="addToCart" v-if="canAddToCart && !addedToCart">
                        Add to cart
                    </button>
                </div>
                <div v-else>
                    <h2>Your Cart</h2>
                    <figure>
                        <img v-bind:src="lesson.image">
                    </figure>
                    <h2 v-text="lesson.subject"></h2>
                    <p v-text="lesson.location"></p>
                    <p>Price: {{lesson.price}}</p>
                </div>
            </main>
        </div>

        <script type="text/javascript">
            let afterSchoolClub = new Vue({
                el: '#app',
                data: {
                    showProduct: true,
                    sitename:'Edventures',
                    lesson: {
                        id: 1001,
                        subject: "Subject: Math",
                        location: "Location: London",
                        price: "£100",
                        space: 5,
                        image: "calculator.png",
                        availableInventory: 5,
                    },
                    cart: [],
                    addedToCart: false, // New data property
                },
                computed: {
                    cartItemCount: function() {
                        return this.cart.length || '';
                    },
                    canAddToCart: function() {
                        return this.lesson.space > this.cartItemCount;
                    }
                },
                methods: {
                    addToCart: function () {
                        this.cart.push(this.lesson.id);
                        this.lesson.space--;
                        this.addedToCart = true; // Set addedToCart to true when the button is clicked
                    },
                    showCheckout() {
                        this.showProduct = this.showProduct ? false : true;
                    }
                }
            });
        </script>
    </body>
</html>
